.container
  %h1 Star Creation
  %table#customers
    %tr
      %th Star
      %th Distance from the Earth
      %th Travel Time
    = simple_form_for @star do |x|
      %td= x.input :name
      %td= x.input :distance
      %td= x.input :travel_time
      %td= x.button :submit, class: 'btn'
