.container
  %h1 Star info
  %table#customers
    %tr
      %th Star
      %th Distance from the Earth
      %th Travel Time
    %tr  
      %td= @star.name
      %td= "#{@star.distance} lightyears"
      %td= "#{@star.travel_time} minutes"
